$main-color: rgb(94, 153, 226);
$br-radius: 8px;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="checkbox"] {
    width: 1.15em;
    height: 1.15em;
    transform: translateY(-.1em);
    margin-right: 0.5em;
}

input[type="text"],
select {
    display: block;
    width: 80%;
    margin: 0 auto;
}

select {
    padding: 2px;
}

button {
    background-color: $main-color;
    color: white;
    border-radius: $br-radius;
    border: 0;
    cursor: pointer;
    padding: 4px 16px;

    &:hover {
        background-color: darken($color: $main-color, $amount: 10);
    }
}

.copyBtn {
    opacity: 0;
    transition: opacity 0.5s;
    // display: none;
    padding: 4px 4px;
    margin-left: 6px;
    background-color: rgb(227, 227, 227);
    color: #333;

    &:hover {
        background-color: rgb(206, 206, 206);
    }

    .draggable:hover & {
        // display: inline-block;
        opacity: 0.7;
    }
}

.buttonsline {
    text-align: center;
    margin: 2px;
}

.container {
    background-color: #333;
    padding: 0.5rem;
    margin: 0.2rem;
    border-radius: $br-radius;
}

#header {
    // background-color: rgb(132, 205, 138);
    background-color: lighten($color: $main-color, $amount: 25)
}

#templates {
    background-color: rgb(232, 141, 105);
}

#output {
    background-color: $main-color;
}

.draggable {
    background-color: white;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: move;
    border-radius: $br-radius;
    border: 2px solid #b5b5b5;

    &.dragging {
        /* opacity: 0.5; */
        border: 2px solid darken($color: $main-color, $amount: 40);
    }

    &.static {
        opacity: 0.7;
    }
}

.red {
    background-color: rgb(255, 196, 196);
}

.blue {
    background-color: rgb(196, 218, 255);
}

.dimmed {
    opacity: 0.7;
}

#log-output {
    background-color: rgb(217, 217, 217);
    padding: 3px;
    font-size: 18px;
    max-height: 4em;
    overflow-y: auto;
}

#snackbar {
    // background-color: lighten($color: $main-color, $amount: 20);
    background-color: lighten(adjust-hue($main-color, -100deg), 15);
    border-radius: $br-radius;
    // position: sticky;
    position: fixed;
    // bottom: 24px;
    // left: 44px;
    // right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    min-width: 300px;
    // margin: 50px;
    padding: 10px 14px;
    box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.5);
    font-weight: 600;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    button {
        background-color: unset;
        color: #333;
        padding: 4px;
        // border-radius: 50%;
        // width: 36px;
        // height: 36px;
        // color: white;
        // &:hover {
        //     background-color: rgb(203, 0, 0);
        // }
    }
}

/* .twocolumnd {
    display: flex;
} */